version: "3"
services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - 3000:3000
    networks:
      - monitoring
    volumes:
      - grafana-volume:/var/lib/grafana
  influxdb:
    image: influxdb
    container_name: influxdb
    restart: always
    ports:
      - 8086:8086
    networks:
      - monitoring
    volumes:
      - influxdb-volume:/var/lib/influxdb
  # h2:
  #   image: oscarfonts/h2
  #   container_name: h2-Instance
  #   restart: always
  #   ports:
  #     - 1521:1521 # TCP Database Server
  #     - 8081:81 # Web interface
  #   volumes:
  #     - /IoTStack/local/h2_data_dir:/opt/h2-data
  #   environment:
  #     H2_OPTIONS: "-ifNotExists"
  telegraf:
    image: telegraf
    restart: always
    #extra_hosts: #not sure what this does
    #  - "influxdb:192.168.0.73"
    environment:
      HOST_PROC: /rootfs/proc
      HOST_SYS: /rootfs/sys
      HOST_ETC: /rootfs/etc
    hostname: ea-pc166.ei.htwg-konstanz.de
    network_mode: "host"
    pid: "host"
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /sys:/rootfs/sys:ro
      - /proc:/rootfs/proc:ro
      - /etc:/rootfs/etc:ro
networks:
  monitoring:
volumes:
  grafana-volume:
    external: true
  influxdb-volume:
    external: true